.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.about-content {
    position: relative;
    z-index: 2;
    background: rgb(from var(--gray-light) r g b / 50%);
    backdrop-filter: blur(2px);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--gray-medium);
}

.about h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: var(--black);
    line-height: 1.2;
}

.about-subtitle {
    font-size: 1.25rem;
    color: var(--gray-medium);
    margin-bottom: 2rem;
    max-width: 800px;
}

@media (max-width: 768px) {
    .about h1 {
        font-size: 2.5rem;
    }
}